/* ------------------- */
/* Basic HTML elements */
/* ------------------- */
body {                                    
    margin: 5em auto;
    width: 90%; 
    font: small Lucida Sans Unicode, Lucida Grande, Sans-Serif;
    background: #eee;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: underline;
    color: #999;
}
table, img {
    margin: 1em;
}
img {
    border: solid thin;
    width: 95%;
}
table, thead, tbody {
    font-family: Lucida Sans Unicode, Lucida Grande, Sans-Serif;
    border: thin solid; 
}
th { 
    background: #aaa;
}
th.left{
    text-align: left;
}
tbody tr:hover td {
    background: #ccc;
}
/* ------------ */
/* Org mode TOC */
/* ------------ */
#table-of-contents {
    width: 15em;
    padding: 0 0 0 1em;
    overflow-x: auto;
    overflow-y: scroll;
    position: fixed;
    height: 70%;
    clear: both;
}
@media all and (max-width: 720px) {
    #table-of-contents {
        display: none;
    }
}
#table-of-contents ul {
    list-style: none;
    font-weight: bold;
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
#table-of-contents ul ul {
    margin: 0 0 0 2em;
}
#table-of-contents a{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;   
}
#table-of-contents a:hover{
    background: #eee;
}   
#table-of-contents a:after{
    position: absolute; 
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;               
}
#table-of-contents a:hover:after{
    left: -.5em;
    border-left-color: #fa8072;             
}
/* --------------------------- */
/* Org mode outline formatting */
/* --------------------------- */
.outline-2, #footnotes {                               
    margin: 0 2em .5em .5em; 
    padding: .5em .5em 0 .5em;
    width: 50em;
    position: relative;
    left: 15em;
    overflow: auto;
    clear: both;
}
@media all and (max-width: 720px) {
    .outline-2, #footnotes {
        left: 1em;
	width: 90%; ;
    }
}
.outline-3 {                
    margin: .5em 0;
    padding: .5em;  
    border: solid thin;
}
.outline-2 h2, .outline-3 h3 {
    text-align: center;
    background: #ccc;
}
.outline-2 h2 {
    padding: 1em 0;
}
.outline-3 h3 {
    padding: .5em 0;
}
.outline-text-3, .outline-4 p {
    margin: 0 0 1em 0;
}
h2.footnotes {
    font-size: small;
}
#footnotes p {
    display: inline;
}
/* ---------- */
/* Hide stuff */
/* ---------- */
.title, span.todo.TODO, span.todo.PROGRESS, #table-of-contents h2 {
    display: none;
}