/* ------------------- */
/* basic HTML elements */
/* ------------------- */
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
table, img {
    width: 35em;
}
img {
    border-style: solid;
    border-width: thin;
}
table, thead, tbody {
    border: thin solid
}
th { 
    background: #aaa;
}
th.left{
    text-align: left;
}
tbody tr:hover td {
    background: #ccc
}
/* ------------ */
/* Org mode TOC */
/* ------------ */
body {
    margin: 5em auto; 
    font: small Lucida Sans Unicode, Lucida Grande, Sans-Serif;
}
#table-of-contents, .outline-2 {
    border-top: dotted thin;    
    border-bottom: dotted thin;
    overflow-x: auto;
    overflow-y: scroll;
    position: fixed;
    height: 90%;
}
#table-of-contents {
    padding: 0 0 0 1em; 
    width: 10em;
    border: dotted thin;
}
.outline-2 {
    left: 11em;
}
.outline-2 h2, .title {
    display: none;
}
.outline-3 {
    margin: 1em 0;
    padding: 0 1em;
}
.outline-3 h3 {
    font-size: x-large;
    text-align: center;
}
.outline-text-3, .outline-4 p {
    margin: 0 0 1em 0;
    border-style: dotted none dotted none;
    border-width: thin;
}
#table-of-contents ul {
    list-style: none; /* Remove default numbering */
    font-weight: bold;
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
#table-of-contents h2 {
    display: none;
}
#table-of-contents ul ul {
    margin: 0 0 0 2em; 
}
#table-of-contents a{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;   
}
/* #table-of-contents a:hover{ */
/*     background: #eee; */
/* } */   
#table-of-contents a:after{
    position: absolute; 
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;               
}
#table-of-contents a:hover:after{
    left: -.5em;
    border-left-color: #fa8072;             
}
/* --------------------------- */
/* Org mode outline formatting */
/* --------------------------- */
/* .outline-2:hover { */
/*     background-color: #e8edff; */
/* } */

/* -------------------- */
/* timestamp formatting */
/* -------------------- */
.timestamp, .timestamp-kwd {                       
    font-size: medium;
}
